[submodule "themes/pico-base"]
	path = themes/pico-base
	url = https://github.com/mnordhaus/pico-base
[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = https://github.com/manid2/hugo-xterm
[submodule "archie"]
	path = archie
	url = https://github.com/athul/archie
