@use "pico" with (
  $theme-color: "pumpkin",
  $enable-semantic-container: true,
  $enable-classes: true
);


header {
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid;
  margin-top: 1rem;
}
